@model OptimizationResult

@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

    <div class="card">
        <h2 class="card-header text-center bg-success text-light">Optimum Schedule</h2>
        <br />

        
        
            <div class="form-group">
                <label class="control-label">Total Examination Time</label>
                <span class="form-control">
                    @Html.DisplayFor(x => x.TotalTime)
                </span>
            </div>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Doctor
                    </th>
                    <th>
                        Patient
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OptimizationResultRows)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DoctorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
