@model EMR.Models.GetUserDetailsResponseModelResult
@{
    ViewData["Title"] = "Patient Home";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}


<div class="text-center">
    <h1 class="display-3">Welcome @Html.DisplayFor(model => model.Name), to Electronic Medical Records Tool</h1>
    <h1 class="text-secondary">You are now signed in as @Html.DisplayFor(model => model.Name).</h1>
    <h3 class="text-secondary">Your Network Key is @Html.DisplayFor(model => model.Key).</h3>
    <img width="1000" height="300" src="~/TBRHSC_Front-e1548856172415.jpg" />
</div>


