@model EMR.Models.VisitRequestModel

@{
    ViewData["Title"] = "Request a Doctor Visit";
}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Enter Visit Details</h4>
            </header>
            <article class="card-body">
                <form asp-action="VisitAsk">
                    <div class="form-group">
                        <label asp-for="VisitReason" class="control-label"></label>
                        <input asp-for="VisitReason" class="form-control">
                        <span asp-validation-for="VisitReason" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Specialty</label>
                        <span class="form-control">
                            @Html.DropDownListFor(x => x.SpecialtyList, new SelectList(Model.SpecialtyList), "Select Sepcialty..")
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Doctor</label>
                        <span class="form-control">
                            @Html.DropDownListFor(x => x.Doctor, new SelectList(Model.DoctorList, "Address", "Name"), "Select Doctor..")
                        </span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-block"> Save  </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#SpecialtyList").change(function () {
            var val = $(this).val();
            var subItems = "";

            $.getJSON("@Url.Action("GetDoctors", "PatientApp")", {speciality:val} ,function (data) {
                $.each(data, function (index, item) {
                     //alert(item.address);
                subItems+="<option value='"+item.address+"'>"+item.name + "</option>"
              });
           
              $("#Doctor").html(subItems)
            });
        });
    });
</script>


