@model OptimizerApp.Models.GetUserDetailsResponseModelResult
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="text-center">
    <h1 class="display-3">Welcome @Html.DisplayFor(model => model.Name), to Medical Records Tool</h1>
    <h1 class="text-secondary">You are now signed in as @Html.DisplayFor(model => model.Name).</h1>
</div>
