@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to EMR Tool</h1>
    <p> <a class="page-link" asp-area="" asp-controller="Home" asp-action="Login">Login Now</a></p>
    <img width="1000" height="300" src="~/TBRHSC_Front-e1548856172415.jpg"/>
</div>