@model EMR.Models.DoctorModel

@{
    ViewData["Title"] = "Add Doctor";
}


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Add New Doctor</h4>
            </header>
            <article class="card-body">
                <form asp-action="AddDoctor">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hospital" class="control-label"></label>
                        <input asp-for="Hospital" class="form-control">
                        <span asp-validation-for="Hospital" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Specialty</label>
                        <span class="form-control">
                            @Html.DropDownListFor(x => x.Specialty, new SelectList(Model.SpecialtyList), "Select Specialty..")
                        </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-block"> ADD  </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>


